@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molengo&display=swap');

*{
    padding: 0;
    box-sizing: 0;
    border: 0;
    text-decoration: none;
}


header button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

}

header button img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
    
   
}

header{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    gap: 30px;
    padding-left: 150px;
    
}

header p{
    font-family: "Alatsi", serif;
    color: rgba(255, 255, 255, 0.658);
    font-size: 20px;
}

body{
   padding-left: 150px;
   padding-right: 150px;
    background-color: black;
}

body h1{
    color: rgba(255, 124, 54, 1);
}
body p{
    color: rgba(255, 124, 54, 1);  
}

main h1{
    font-size: 80px;
    line-height: 200px;
    width: 1000px;
    /* padding-left: 100px; */
    font: bold;
    color: rgba(255, 124, 54, 1);
}

main p{
    font-family: "Molengo", serif;
    font-size: 20px;
    color: rgba(255, 124, 54, 1);
    /* padding-left: 100px; */
    letter-spacing: 2px;
}

main{
    padding-top: 50px;
}

.jogo{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-top: 300px;
    /* padding-left: 150px; */
}

.jogo h1{
    font-size: 35px;
    color: rgba(255, 124, 54, 1);
}
.jogo p{
    font-size: 30px;
    line-height: 80px;
    width: 650px;
    
    color: rgba(255, 124, 54, 1);
}

.pedra{
    gap: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pedra img{
   border-radius: 20px;
  width: 700px; 
   
}

.expo{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-top: 300px;  
}

.expo h1{
    font-size: 35px; 
}

.expo p{
    font-size: 30px;
    line-height: 80px;
    width: 100%;
}

.loop{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 300px;  
    gap: 150px;
}

.loop img{
   
    width: 700px;
}



.temporal h1{
    padding-bottom: 40px;
    font-size: 35px;   
}

.temporal p{
    width: 650px;
    font-size: 30px;
    line-height: 80px;
}

.planetas img{
    width: 100%;
    padding-top: 300px;
    border-radius: 20px;
}

.sistema{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-top: 300px;  
}

.sistema h1{
    font-size: 35px; 
}

.sistema p{
    font-size: 30px;
    line-height: 80px;
    width: 100%;
}

.graficos{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-top: 300px;  
}

.graficos h1{
    font-size: 35px; 
}

.graficos p{
    font-size: 30px;
    line-height: 80px;
    width: 100%;
}
